<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page settings -->

  <title>Region - {{region.reg_name}}</title>
  <meta name="description" content="Tu página sobre el Mundial de la FIFA Rusia 2018">
  <meta name="keywords" content="Mundialitis mundial rusia 2018 fifa proyecto software juegos">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <!-- Scripts -->

</head>

<body style="overflow-x: hidden;">

  <!-- Lobby's Details -->
  <div class="align-items-center d-flex cover py-5 russianflagstyle">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center text-lg-left text-center">
          <h1 class="mb-0 mt-5 display-4"><b>{{region.reg_name}}</b></h1>
          <p class="mb-5">Gobernador Regional: {{region.authority}}</p>
        </div>
        <div class="col-lg-5 p-3">
            <h4 class="mb-4 text-center">Autoridades</h4>
            <div class="card" style="width: auto;">
              <div class="card-header">Autoridades</div>
              <ul class="list-group list-group-flush">
                {% for politician in politicians %}
                  <li class="list-group-item"><a href="/politiciansdetails/{{politician.id}}">{{politician.poli_name}}</a><br>Puesto: {{politician.job}}</li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>




  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
